################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/sqlite3
**/.suo
**/bin
**/obj
**/packages
FunctionalLibrary/NuGet.exe
*.nupkg
/.vs/FunctionalLibrary/v17/TestStore/0
